
<article class="question" ng-class="{'show-answer': showAnswer}">
    <header>{{nbQuestion}}.{{description}}</header>
    <p style="font-size:75%;">{{title}}</p>
    <ol ng-init="selection = { selectedNode:  null }">
        <li ng-repeat="proposal in proposals" class="selectable" ng-class="{active: selection.selectedNode == proposal, 'right-answer':proposal.correct }"
             ng-click="selection.selectedNode = proposal; clickedOrTouched($event, proposal.correct, proposal.id)">{{proposal.label}}</li>
    </ol>
</article>

