<div ng-controller="startController" >
    <div id="play1">
        <form>
            <div ng-show="!confirmed1">              
                <div class="name-box">
                    <input type="hidden" ng-model="search1" >
                    <input type="hidden" ng-model="checked1" >
                    &nbsp;{{search1}}<button ng-click="confirm(1)" ng-show="checked1" class="go">Commencer</button>
                    <input type="hidden" ng-model="templateList1">
                    <ul>
                        <li ng-repeat="list in templateList1| filter:search1" ng-click="setValue1(list)">{{list.firstName}} {{list.lastName}}</li>
                    </ul>
                </div>                        
                <!-- input name="search" type="search" ng-min-length="3" ng-model="search1" / -->                 
                <div svg-map  search="search1" template="templateList1" check="checked1"></div>
            </div>
            <div class="deco" ng-show="confirmed1">
                <div class="lightsaber">
                    <label for="saber1"></label>
                    <input type="checkbox" id="saber1" ng-checked="confirmed1">
                    <div class="switch"></div>
                    <div class="plasma vader"></div>
                </div>
            </div>
        </form>
    </div>

    <div id="play2">
        <form>
            <div ng-show="!confirmed2">
                <div class="name-box">
                    <input type="hidden" ng-model="search2" >
                    <input type="hidden" ng-model="checked2" >
                    &nbsp;{{search2}}<button ng-click="confirm(2)" ng-show="checked2" class="go">Commencer</button>
                    <input type="hidden" ng-model="templateList2">
                    <ul>
                        <li ng-repeat="list in templateList2" ng-click="setValue2(list)">{{list.firstName}} {{list.lastName}}</li>
                    </ul>
                </div>                        
                <!-- input name="search" type="search" ng-min-length="3" ng-model="search1" / -->                 
                <div svg-map  search="search2" template="templateList2" check="checked2"></div>
            </div>
            
            <div class="deco" ng-show="confirmed2">
                <div class="lightsaber">
                    <label for="saber2"></label>
                    <input type="checkbox" id="saber2" ng-checked="confirmed2">
                    <div class="switch"></div>
                    <div class="plasma obi-wan"></div>
                </div>
            </div>
        </form>
    </div>
</div>

