        <div ng-controller="searchController">
            <form>
            <div ng-show="confirmed1==false">
                
                <input name="search" type="text" ng-min-length="3" ng-model="search1" />
                <button ng-click="confirm(1)" ng-show="checked1">Commencer</button>
               
                <ul>
                    <li ng-repeat="list in templateList | filter:search1 " ng-click="setValue1(list)">{{list.firstName}} {{list.lastName}}</li>
                </ul>
            </div>
             <div ng-show="confirmed1==true">
               
                 <img src="img/Lightsaber-blue.png" alt=""/>
             </div>
            </form>
              <form>
            <div ng-show="confirmed2==false">
                
                <input name="search" type="text" ng-min-length="3" ng-model="search2" />
                <button ng-click="confirm(2)" ng-show="checked2">Commencer</button>
               
                <ul>
                    <li ng-repeat="list in templateList | filter:search2 " ng-click="setValue2(list)">{{list.firstName}} {{list.lastName}}</li>
                </ul>
            </div>
             <div ng-show="confirmed2==true">
               
                 <img src="img/Lightsaber-red.png" alt=""/>
             </div>
            </form>
         

            
        </div>

